---
import { CollectionEntry } from "astro:content";
import { marked } from "marked";
import BaseHead from "../components/BaseHead.astro";
import SkipMain from "../components/buttons/SkipMain.astro";
import NavMain from "../components/NavMain.astro";
import FooterMain from "../components/FooterMain.astro";
import CookiePopup from "../components/CookiePopup.astro";

type PropsLegal = CollectionEntry<'legal'>['data'];

const { title, content } = Astro.props as PropsLegal;
const contentHTML = marked(content);
---
<html lang="en">
  <head>
    <BaseHead
      title={`${title} | West Valley Golf Cars`}
      description={`${title} page for West Valley Golf Cars`}
      keywords={`${title}, West Valley Golf Cars`}
      image="/images/opengraph/main.webp"
      url={`https://www.westvalleygolfcars.com/${Astro.props.slug}`}
    />
  </head>
  <body class="page-transition-enter">
    <SkipMain />
    <header>
      <NavMain data-aos="fade-down" />
    </header>
    <main id="main-content">
      <section class="hero-home" data-aos="fade-up">
        <div class="top-banner"></div>
        <div class="padding-hero" data-aos="fade-up">
          <div class="container">
            <div set:html={contentHTML}></div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <FooterMain />
    </footer>
    <CookiePopup />
  </body>

  <script type="module">
    import * as AOS from 'aos';
    import 'aos/dist/aos.css';

    const initializeAOS = () => {
        if (window.innerWidth > 980) {
            AOS.init({
                duration: 800,
                once: true,
                easing: 'ease-in-out',
                offset: 0,
                delay: 0,
            });
        } else {
            const aosElements = document.querySelectorAll('[data-aos]');
            aosElements.forEach((element) => {
                element.removeAttribute('data-aos');
                element.style.opacity = '1';
                element.style.transform = 'none';
            });
        }
    };

    // Initialize AOS on initial page load
    document.addEventListener('DOMContentLoaded', () => {
        initializeAOS();
    });

    // Reinitialize AOS on back/forward navigation
    window.addEventListener('popstate', () => {
        // Ensure scroll restoration is handled
        window.scrollTo(0, 0);

        // Reinitialize AOS animations
        initializeAOS();
    });
</script>
</html>