---
import { CollectionEntry } from "astro:content";
import { marked } from "marked";
import BaseHead from "../components/BaseHead.astro";
import SkipMain from "../components/buttons/SkipMain.astro";
import NavMain from "../components/NavMain.astro";
import FooterMain from "../components/FooterMain.astro";

type PropsLegal = CollectionEntry<'legal'>['data'];

const { title, content } = Astro.props as PropsLegal;
const contentHTML = marked(content);

---
<html lang="en">
    <head>
        <BaseHead
            title={`${title} | West Valley Golf Cars`}
            description={`${title} page for West Valley Golf Cars`}
            keywords={`${title}, West Valley Golf Cars`}
            image="/images/opengraph/main.webp"
            url={'https://www.westvalleygolfcars.com/${Astro.props.slug}'}
        />
    </head>
    <body class="page-transition-enter">
		<SkipMain />
		<header>
			<NavMain data-aos="fade-down" />
		</header>
		<main id="main-content">
			<section class="hero-home" data-aos="fade-up">
				<div class="top-banner"></div>
                <div class="padding-hero" data-aos="fade-up">
                    <div class="container">
                        <div set:html={contentHTML}></div>
                    </div>
                </div>
            </section>
		</main>
		<footer>
			<FooterMain />
		</footer>
	</body>
    <script>
        import * as AOS from 'aos';
        import 'aos/dist/aos.css';
    
        document.addEventListener('DOMContentLoaded', function () {
            if (window.innerWidth > 980) {
                AOS.init({
                    duration: 800,
                    once: true,
                    easing: 'ease-in-out',
                    offset: 0,
                    delay: 0,
                });
            } else {
                const aosElements = document.querySelectorAll('[data-aos]');
    
                aosElements.forEach(element => {
                    const el = element as HTMLElement;
                    el.removeAttribute('data-aos');
                    el.style.opacity = '1';
                    el.style.transform = 'none';
                });
            }
        });
    </script>    
</html>
